/* Fix for template style */
@media (max-width: 575.98px) {
  .table-responsive table {
      min-width: 400px;
  }
}

/* Fix Flag Icon style */
.language .flag-icon {
  width: 20px;
  height: 12px;
}

.modal-header {
  display: block;
}
.btn-social-icon {
  color: #212529 !important;
}
.section-header-breadcrumb h3 {
  color: #34395e;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  align-self: center;
}
.nav-tabs .nav-item .nav-link {
  color: #34395e;
}
.nav-tabs .nav-item .nav-link:hover {
  border-color: white;
}
.nav-tabs .nav-item .nav-link.active {
  color: #595c5f;
  border-color: white;
  border-bottom-color: #a9acaf;
  border-bottom-width: medium;
}
.dropdown-menu a {
  font-size: 16px;
  padding: 4px 24px;
}
.main-content {
  margin-bottom: 80px;
}
.main-sidebar .sidebar-menu li a#tontine-menu-tontines {
  color: #6777ef;
}
.table td.table-item-menu, .table th.table-item-menu {
  width: 90px;
}
.table td.table-member-subscription {
  width: 120px;
  padding: 0 10px !important;
}
td.table-member-subscription span.input-group-text {
  height: 32px;
}
th.currency, td.currency {
  text-align: right;
}
#text-session-agenda, #text-session-report, #receivable-notes {
  height: 220px;
}
#text-session-notes, #text-session-venue {
  height: 120px;
}

/* Make the Kustomer component appear on top of the page elements */
.kustomer-feedback-component {
  z-index: 100;
}
.kustomer-feedback-component .kustomer-popup .kustomer-header h1 {
  margin-top: 0 !important;
  font-size: 15px !important;
}
.kustomer-popup .kustomer-container section.kustomer-form h2 {
  text-transform: none !important;
}
/* Hide the feedback popup logo */
.kustomer-popup .kustomer-header .kustomer-logo {
  display: none;
}
.kustomer-feedback-component .kustomer-popup .kustomer-container section.kustomer-form form textarea {
  resize: vertical;
}

@media (max-width: 768px) {
  .payment-sm-hide {
    display: none;
  }
}
@media (min-width: 769px) {
  .payment-md-hide {
    display: none;
  }
}
