/* Fix for template style */
@media (max-width: 575.98px) {
  .table-responsive table {
    min-width: 400px;
  }
}

/* Fix Flag Icon style */
.language .flag-icon {
  width: 20px;
  height: 12px;
}

.modal-header {
  display: block;
}
.btn-social-icon {
  color: #212529 !important;
}
.section-header-breadcrumb h3 {
  color: #34395e;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  align-self: center;
}
.nav-tabs .nav-item .nav-link {
  color: #34395e;
}
.nav-tabs .nav-item .nav-link:hover {
  border-color: white;
}
.nav-tabs .nav-item .nav-link.active {
  color: #595c5f;
  border-color: white;
  border-bottom-color: #a9acaf;
  border-bottom-width: medium;
}
.dropdown-menu a {
  font-size: 16px;
  padding: 4px 24px;
}
.main-content {
  margin-bottom: 80px;
}
.main-sidebar .sidebar-menu li a#tontine-menu-tontines {
  color: #6777ef;
}
.table td.table-item-menu, .table th.table-item-menu {
  width: 90px;
}
.table td.table-item-counter {
  width: 120px;
  padding: 0 10px !important;
}
td.table-item-counter span.input-group-text {
  height: 32px;
}
th.currency, td.currency {
  text-align: right;
}
#text-session-agenda, #text-session-report, #receivable-notes {
  height: 220px;
}
#text-session-notes, #text-session-venue {
  height: 120px;
}

/* Display on small screens */
.sm-screen-hidden,
.sm-screen-selector {
  display: none;
}
.section .section-title,
.card .card-body .section-title {
  margin: 10px 0 15px 0;
}
.table {
  width: 100%;
}
.table td.table-item-toggle {
  width: 90px;
}
@media only screen and (max-width: 700px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm-screen-hidden,
  .sm-screen-selector,
  .sm-screen.sm-screen-active {
    display: block;
  }
  .sm-screen {
    display: none;
  }

  .table.responsive,
  .table.responsive tbody {
    display: block;
  }
  .table.responsive tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f6f6f6;
  }
  .table.responsive thead {
    display: none;
  }
  .table.responsive td {
    display: flex;
    align-items: center;
    padding: 0 15px 0 130px !important;
    position: relative;
    height: auto !important;
    min-height: 60px;
  }
  .table.responsive td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.04);
    color: #666;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
  }
  .table.responsive td.table-item-menu,
  .table.responsive td.table-item-toggle,
  .table.responsive td.table-item-counter,
  .table.responsive td.table-item-currency {
    width: auto;
  }
  .table.responsive td.currency {
    text-align: left;
  }
  .table.responsive tr {
    margin-bottom: 1rem;
  }
  .table.responsive th + td {
    padding-left: 10px;
  }
}

/* Make the Kustomer component appear on top of the page elements */
.kustomer-feedback-component {
  z-index: 100;
}
.kustomer-feedback-component .kustomer-popup .kustomer-header h1 {
  margin-top: 0 !important;
  font-size: 15px !important;
}
.kustomer-popup .kustomer-container section.kustomer-form h2 {
  text-transform: none !important;
}
/* Hide the feedback popup logo */
.kustomer-popup .kustomer-header .kustomer-logo {
  display: none;
}
.kustomer-feedback-component .kustomer-popup .kustomer-container section.kustomer-form form textarea {
  resize: vertical;
}
