/* Fix for template style */
@media (max-width: 575.98px) {
  .table-responsive table {
    min-width: 400px;
  }
}

/* Fix Flag Icon style */
.language .flag-icon {
  width: 20px;
  height: 12px;
}

.dropdown-item.has-icon i {
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 1px;
}

a.highlight {
  color: #6777ef !important;
}

a[role="link"]:hover {
  cursor: pointer;
}

i.rotate-by-45deg {
  --fa-rotate-angle: 45deg;
  margin-left:5px;
  color:#6777ef;
}

.btn-social-icon {
  color: #212529 !important;
}
.section .section-header {
  display: block;
}
.section .section-header h2 {
  margin-bottom: 0;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  margin-top: 3px;
  color: #34395e;
}
.section-header-title h3 {
  color: #34395e;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 5px 0 0 0;
  align-self: center;
}
.nav-tabs .nav-item .nav-link {
  color: #34395e;
}
.nav-tabs .nav-item .nav-link:hover {
  border-color: white;
}
.nav-tabs .nav-item .nav-link.active {
  color: #595c5f;
  border-color: white;
  border-bottom-color: #a9acaf;
  border-bottom-width: medium;
}
.dropdown-menu a {
  font-size: 16px;
  padding: 4px 24px;
}
.main-content {
  margin-bottom: 80px;
}
.main-sidebar .sidebar-menu li a#admin-menu-guilds {
  color: #6777ef;
}
.table td.table-item-menu, .table th.table-item-menu {
  width: 70px;
}
.table td.table-item-counter {
  width: 120px;
  padding: 0 10px !important;
}
td.table-item-counter span.input-group-text {
  height: 32px;
}
th.currency, td.currency {
  text-align: right;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) th,
.table:not(.table-sm):not(.table-md):not(.dataTable) td {
  padding: 0 12px;
}
.table.table-bordered th:not(:first-child) {
  border-left-color: white;
  border-left-width: 1px;
}
.table.table-bordered th:not(:last-child) {
  border-right-color: white;
  border-right-width: 1px;
}
#text-session-agenda, #text-session-report, #receivable-notes {
  height: 220px;
}
#text-session-notes, #text-session-venue {
  height: 120px;
}
.card .card-header {
  min-height: 50px;
  padding: 10px 25px;
}
.card .card-header input.form-control {
  border-radius:.25rem 0 0 .25rem;
}
.card .card-header .input-group .btn {
  margin-top: 0;
  border-radius:0 .25rem .25rem 0;
}
form .form-group .col-form-label {
  text-align: right !important;
}
@media only screen and (min-width: 700px) {
  .currency.amount {
    width: 200px;
  }
}

/* Display on small screens */
.sm-screen-hidden,
.sm-screen-selector {
  display: none;
}
.section .section-title,
.card .card-body .section-title {
  margin: 10px 0 15px 0;
}
.table {
  width: 100%;
}
.table td.table-item-toggle {
  width: 90px;
}
@media only screen and (max-width: 700px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  form .form-group .col-form-label {
    text-align: left !important;
  }
  
  .sm-screen-hidden,
  .sm-screen-selector,
  .sm-screen.sm-screen-active {
    display: inline;
  }
  .sm-screen {
    display: none;
  }
  .sm-screen-selector .btn-primary:hover {
    background-color: #6777ef !important;
  }

  .table.responsive,
  .table.responsive tbody {
    display: block;
  }
  .table.responsive tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f6f6f6;
  }
  .table.responsive thead {
    display: none;
  }
  .table.responsive td {
    display: flex;
    align-items: center;
    padding: 0 15px 0 130px !important;
    position: relative;
    height: auto !important;
    min-height: 60px;
  }
  .table.responsive td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.04);
    color: #666;
    /*display: flex;*/
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
  }
  .table.responsive td.table-item-menu,
  .table.responsive td.table-item-toggle,
  .table.responsive td.table-item-counter,
  .table.responsive td.table-item-currency {
    width: auto;
  }
  .table.responsive td.currency {
    text-align: left;
  }
  .table.responsive tr {
    margin-bottom: 1rem;
  }
  .table.responsive th + td {
    padding-left: 10px;
  }
}

#content-meeting-deposits .deposit-here {
  font-weight: bold;
}
#content-meeting-deposits .deposit-early {
  font-weight: bold;
  color: green;
}
#content-meeting-deposits .deposit-late {
  font-weight: bold;
  color: red;
}

/* Make the Kustomer component appear on top of the page elements */
.kustomer-feedback-component {
  z-index: 100;
}
.kustomer-feedback-component .kustomer-popup .kustomer-header h1 {
  margin-top: 0 !important;
  font-size: 15px !important;
}
.kustomer-popup .kustomer-container section.kustomer-form h2 {
  text-transform: none !important;
}
/* Hide the feedback popup logo */
.kustomer-popup .kustomer-header .kustomer-logo {
  display: none;
}
.kustomer-feedback-component .kustomer-popup .kustomer-container section.kustomer-form form textarea {
  resize: vertical;
}
